<!DOCTYPE html>
<html>
<head>
  <title>Woolim&nbsp;&mdash;&nbsp;오늘의 독서, 울림을 공유하세요</title>
  <link rel="icon" href="http://www.freeiconspng.com/uploads/book-icon-by-sonoftroll-26.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_page?(root_path) and !logged_in? %>
    <%= yield %>
  <% else %>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  <% end %>
</body>
</html>